<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eXdpn</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>

<body>
    <script>
        let idToDelete = null;

        function deleteLog(id, name) {
            idToDelete = id;
            document.querySelector("#deleteLogName").textContent = name;
            const deleteModal = new bootstrap.Modal(document.getElementById('deleteLogModal'), {})
            deleteModal.show()
        }

        function confirmedDeleteLog() {
            console.log("Delete " + idToDelete);
            fetch('/log/' + idToDelete, { method: "DELETE" }).then(async (res) => {
                if (res.ok) {
                    console.log({ res });
                    window.location.href = "/";
                } else {
                    const alertEl = document.getElementById('alert')
                    const alertTextEl = document.getElementById('alert-text')
                    alertEl.style.display = 'block';
                    alertTextEl.textContent = await res.text()
                }
            }).catch((err) => {
                console.log({ err })
            })
            idToDelete = null;
        }
    </script>
    <div class="container mt-2">
        <h1 class="text-center mb-5">Welcome to eXdpn</h1>

        <div class="alert alert-danger" style="display: none" role="alert" id="alert">
            <span class="fw-bold" id="alert-text">
                Error!
            </span>
            <br />
            <a href="/">Reload page</a>
        </div>

        {% if uploaded_logs|length > 0 %}

        <div class="list-group">
            {% for log_id in uploaded_logs %}
            <a class="list-group-item list-group-item-action" data-bs-toggle="modal"
                data-bs-target="#logInfoModal{{log_id | replace("@","_") | replace('.','_')}}">
                <div>
                    <span class="fw-bold fs-5">{{uploaded_logs[log_id]['name']}}</span>


                    <br />
                    <span class="text-muted">{{uploaded_logs[log_id]['uploaded_at']}}</span>
                    <span class="text-muted float-end">{{uploaded_logs[log_id]['size']/1000}} KB</span>
                </div>
            </a>
            <div class="modal fade" id="logInfoModal{{log_id | replace("@","_") | replace('.','_')}}" tabindex="-1"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Log Info</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <span class="fw-bold fs-3">{{uploaded_logs[log_id]['name']}}</span>
                            <br />
                            <button type="button" class="float-end btn btn-sm btn-outline-danger"
                                data-bs-dismiss="modal"
                                onclick="deleteLog(`{{log_id}}`,`{{uploaded_logs[log_id]['name']}}`)">Delete</button>
                            <span class="fs-5">Uploaded on {{uploaded_logs[log_id]['uploaded_at']}}</span>
                            <br />
                            <span class="fs-5">Size: {{uploaded_logs[log_id]['size']/1000}} KB</span>
                        </div>
                        <div class="modal-footer d-flex justify-content-between">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <div>
                                <a class="btn btn-primary" href="/log/{{log_id}}">Use this event log</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <button
                class="list-group-item list-group-item-action fw-bold fs-5 list-group-item-success text-center" data-bs-toggle="modal"
                data-bs-target="#uploadLogModal">Add a
                new event log</button>
        </div>
        {% else %}
        <div class="alert alert-primary d-flex justify-content-between align-items-center" role="alert">
            <span class="fs-5">Please import an event log to get started!</span>
            <br />
            <button class="btn btn-lg btn-primary mt-2" data-bs-toggle="modal"
            data-bs-target="#uploadLogModal">Import event log</button>
        </div>
        {% endif %}
    </div>
    <div class="modal fade" id="deleteLogModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirm Deletion</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body fs-5">
                    Do you really want to delete this log?
                    <br />
                    <span class="fw-bold" id="deleteLogName"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
                        onclick="confirmedDeleteLog()">Delete</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="uploadLogModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Upload</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post" action="/load-log"  enctype="multipart/form-data">
                    <div class="modal-body fs-5">
                        <label for="log" class="form-label">Select an event log (.xes)</label>
                        <input class="form-control form-control-lg" id="log" type="file" name="log" accept=".xes" required>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-success" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>

</html>