<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>eXdpn - {{log.name}}</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <script>
      function loadEventLog() {
        fetch('/log/{{log_id}}/load',{method: "GET"}).then(async (res) => {
        if(res.ok){
            const logStats = await res.json()
            for (const key in logStats){
              document.getElementById(key).innerHTML = logStats[key]
            }
            document.querySelectorAll("#discoverModelButtons > button").forEach((button) => {
              button.removeAttribute("disabled")
            })
        }
        }).catch((err) => {

        })

      }
      function loadPetriNet() {
        console.log("Loading Petri net for {{log_id}}...");
      }

      document.addEventListener("DOMContentLoaded",(ev) => {
        loadEventLog()
      })
    </script>
    <div class="container mt-2">
      <h1 class="text-center mb-5">eXdpn: {{log.name}}</h1>
      <div class="text-center">
        <div id="logInfo">
          <table class="table mt-3">
            <thead class="table-primary">
              <tr>
                <th scope="col">Event Log</th>
                <th scope="col">Number of unique activities</th>
                <th scope="col">Number of cases</th>
                <th scope="col">Number of events</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">{{log.name}}</th>
                <td id="num_activities">
                  <div class="spinner-border spinner-border-sm text-secondary" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
              </td>
                <td id="num_cases">
                  <div class="spinner-border spinner-border-sm text-secondary" role="status">
                    <span class="visually-hidden">Loading...</span>
                  </div>
                </td>
                <td id="num_events">
                  <div class="spinner-border spinner-border-sm text-secondary" role="status">
                    <span class="visually-hidden">Loading...</span>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <br />
      <div class="text-center">
        <button class="btn btn-primary btn-lg" onclick="loadPetriNet()">
          Mine Petri net
        </button>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
